body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-inline: 2rem;
}

a {
  width: fit-content;
  color: white;
}

button {
  width: fit-content;
  padding: 0.25rem;
  border: 0;
  border-radius: 4px;
}

.link-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.link-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  max-width: 200px;
}

.home-img {
  border-radius: 32px;
  width: 3rem;
  padding: 0.25rem;
  background-color: white;
}

.lc-img {
  border-radius: 32px;
  width: 3rem;
  padding: 0.25rem;
  background-color: white;
}

.github-img {
  border-radius: 32px;
  width: 3rem;
  padding: 0.25rem;
  background-color: white;
}

tr {
  padding: 2px;
}
td {
  color: white;
}

.easy {
  color: green;
}
.medium {
  color: orange;
}
.hard {
  color: red;
}
